.footer{
    img{
        margin-top: -15vh;
        margin-left: 9vw;
        width: 80vw;
    }
    .cook{
        font-family: 'lato',sans-serif;
        clear: both;
        display: inline-block;
        font-size: 1.3vw;
        margin-right: 2vw;
    }
    .text{
        text-align: center;
        margin-top: -15vh;
    }
}
